Makefile
*/Makefile
*/**/Makefile
*/*.tpl
*/**/*.tpl
libtool
config.*
*/**/.deps
*/**/.libs
stamp-h1
*/**/*.beam
*.gz
bin/*
*/**/*.la
*/**/*.lo
*/**/*.o
etc/**/*.ini
utils/run
src/couchdb/couch.app
src/couchdb/couchjs
etc/launchd/org.apache.couchdb.plist
etc/logrotate.d/couchdb
